<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="commons/layout">
<head>
    <title>Dashboard</title>
</head>

<section layout:fragment="contents">
    <div class="row">
        <div class="">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>createdAt</th>
                            <th>updatedAt</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="demo: ${demos}">
                            <td th:text="${demo.id}"></td>
                            <td th:text="${demo.name}"></td>
                            <td th:text="${demo.createdAt}"></td>
                            <td th:text="${demo.updatedAt}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</html>